APP_NAME="Gown Rental System"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=database
LOGIN_PASSWORD_PRIVATE_KEY_PATH=storage/app/private/login-password-private.pem
SESSION_LIFETIME=120
AUTH_IDLE_TIMEOUT_SECONDS=300
CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

VITE_APP_NAME="${APP_NAME}"
